<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <title>Home - MyFlights</title>
</head>

<body>
  <nav>
    <h1>Logo</h1>
    <div class="navigation">
      <a href="/">Home</a>
      <div class="spacer"></div>
      <a href="/about">About</a>
      <div class="spacer"></div>
      <a href="#contact">Contact</a>
    </div>
  </nav>
</body>

</html>